#visibleFolders {
    height: 100%;
    overflow-y: auto;
}

#visibleFolders .folder-item {
    margin: 1px;
}

#visibleFolders .collapsible .collapse {
    z-index: 1;
}

#visibleFolders .collapsible a {
    width: 185px;
    display: inline-block;
}

#visibleFolders .collapsible a.icon-folder{
    white-space: nowrap;                   
    overflow: hidden;              /* "overflow" value must be different from "visible" */   
    text-overflow: ellipsis;  
    direction:rtl;
    text-align:left;
}

#visibleFolders .collapsible .folder-link{
    display: inline-block;
    width: 44px;
    height: 44px;
    padding: 0px;
    text-align: center;
    vertical-align: top;
}

#visibleFolders .collapsible .folder-link .icon{
    width: 36px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
    background-image: url('images/gallery.svg');
}